*{
    color: rgb(30, 145, 30);
}

body{
    background-color: rgb(245, 246, 243);
}


.footer{
    color: rgb(100, 78, 49);
    width: 100%;
    height: fit-content;
    position: relative;
    margin-bottom: 0;
    margin-top: 300px;
    text-align: center;
    background-color: rgb(231, 244, 195);
}

img{
    width: 800px;
    height: 100%;
    position: relative;

}

#wrapper{
    margin-top: 100px;
}

#navbar{
   display: flex;
    background-color: rgb(234, 242, 205);
    justify-content: center;
    padding: 1px;
    font-size: 24px;
    color: rgb(100, 78, 49);
}
#navbar a{
    color: rgb(78, 72, 72);
    padding: 15px;
    text-decoration: none;
  }
  #navbar a:hover{
    background-color:#65e2ac;
    color: black;
  }
  h1{
    font-size: 30px;
    font-family: cursive;
    text-align: center;
    margin-top: 50px;
    color: rgb(100, 78, 49);
  }

  .overview{
     background-color: rgb(224, 240, 190);
      width: 100%;
      height: fit-content;
      position: relative;
      align-items: center;
    color: rgb(100, 78, 49);
  }
  p, h2{
    text-align: center;
     font-size: 24px;
  } 