*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container{
  background-color: rgb(100, 78, 49);
}

h1,h2{
color: rgb(224, 240, 190)
}

main{
    margin: 2rem auto;
    max-width: 60rem;
    justify-content: center;
    width: 100%;
}

.team-member{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20% 20%;
    grid-gap: 16px;
    justify-content: center;
}



.team-member__name{

}

figure img{
      border: 1px solid rgb(224, 240, 190);
      border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 200px;
    max-width: 100%
    justify-content: space-around;
    padding: 10px;

}

.member_info{
    color: rgb(100, 78, 49);
    display: flex;
    flex-wrap: wrap;
    font: sans-serif;
    font-size: 16px;
    margin-top: 4rem;
    padding: 3px
}

p{
    border: 1px solid white;
    background-color: rgb(224, 240, 190);
    border-radius: 10px;
    padding: 5px;
}