*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    margin: 2rem auto;
    max-width: 60rem;
    width: 100%;

}

.team-member{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20% 20%;
    grid-gap: 16px;
    justify-content: center;
}

.team-member__name{

}

figure img{
background-color: rgb(224, 240, 190);
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 200px;
    max-width: 100%
    justify-content: space-around;
    padding: 10px;

}

figure img:hover{
   flex-grow: 5;
}


.member_info{
    color: rgb(100, 78, 49);
    display: flex;
    flex-wrap: wrap;
    font: sans-serif;
    font-size: 16px;
    margin-top: 2rem;
    padding: 10px
}