<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/about.css"/>
    
    <title>Team Members</title>
</head>
<body>
    <div>
        <table border="1">
            
                <tr>
                    <th>Names</th>
                    <th>Bios</th>
                    <th>Pictures</th>
                </tr>
            
            <tr>
                <td>Farida NDiaye</td>
                <td>About Farida</td>
                <td>picture</td>
            </tr>
            <tr>
                <td>Serena</td>
                <td>About Serena</td>
                <td>picture</td>
            </tr>
            <tr>
                <td>CM</td>
                <td>About CM</td>
                <td>picture</td>
            </tr>
            <tr>
                <td>Adriana</td>
                <td>About Adriana</td>
                <td>picture</td>
            </tr>
            <tr>
                <td>Zibad</td>
                <td>About Zibad</td>
                <td>picture</td>
            </tr>
            <tr>
                <td>Jimmy</td>
                <td>About Jimmy</td>
                <td>picture</td>
            </tr>
        </table>
        
    </div>
</body>
</html>