<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Members</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div id="container">
        <header>
        <div id="navbar">
            <a href="/templates/index.html" target="_blank">Home</a>
            <a href="/templates/continent.html" target="_blank">Continent</a>
            <a href="/templates/blog.html" target="_blank">Blog</a>
            <a href="/templates/tips.html" target="_blank">Tips/Suggestion</a>
        </div >
         </header>

            <div>
                <table border="1">
                    
                        <tr>
                            <th>Names</th>
                            <th>Bios</th>
                            <th>Pictures</th>
                        </tr>
                    
                    <tr>
                        <td>Farida NDiaye</td>
                        <td>About Farida</td>
                        <td>picture</td>
                    </tr>
                    <tr>
                        <td>Serena</td>
                        <td>About Serena</td>
                        <td>picture</td>
                    </tr>
                    <tr>
                        <td>CM</td>
                        <td>About CM</td>
                        <td>picture</td>
                    </tr>
                    <tr>
                        <td>Adriana</td>
                        <td>About Adriana</td>
                        <td>picture</td>
                    </tr>
                    <tr>
                        <td>Zibad</td>
                        <td>About Zibad</td>
                        <td>picture</td>
                    </tr>
                    <tr>
                        <td>Jimmy</td>
                        <td>About Jimmy</td>
                        <td>picture</td>
                    </tr>
                </table>
                
            </div>
    </div>
</body>
</html>