<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
    <header>
        <div id="navbar">
            <a href="/templates/index.html" target="_blank">Home</a>
            <a href="/about" target="_blank">About</a>
           <a href="/templates/continent.html" target="_blank">Continents</a>
            <a href="/templates/tips.html" target="_blank">Tips/Suggestion</a>
        </div >
         </header>
    <h1>Wild Birds Blog</h1>
    <div>
        <table>
            <tr>
                <tr>
                <td class="blog"><img src="../../images/bird1.jpg"
                         th:attr="src=@{/images/bird1.jpg}"/>
                </td>
                <td class="blogtext">
                    <h2>Blue Bird</h2>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Condimentum lacinia quis vel eros. Varius morbi enim nunc faucibus. Ultricies lacus sed turpis tincidunt id aliquet risus. Arcu cursus vitae congue mauris rhoncus aenean vel elit. In fermentum et sollicitudin ac orci phasellus egestas tellus rutrum. Eget felis eget nunc lobortis. Sit amet purus gravida quis blandit turpis. Et odio pellentesque diam volutpat commodo sed. Urna neque viverra justo nec ultrices dui. Ac placerat vestibulum lectus mauris.</td>
                </tr>
                <tr>
                <td class="blog"><img src="../../images/bird2.jpg"
                         th:attr="src=@{/images/bird2.jpg}"/>
                </td>
                <td class="blogtext">
                    <h2>Brown Bird</h2>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Condimentum lacinia quis vel eros. Varius morbi enim nunc faucibus. Ultricies lacus sed turpis tincidunt id aliquet risus. Arcu cursus vitae congue mauris rhoncus aenean vel elit. In fermentum et sollicitudin ac orci phasellus egestas tellus rutrum. Eget felis eget nunc lobortis. Sit amet purus gravida quis blandit turpis. Et odio pellentesque diam volutpat commodo sed. Urna neque viverra justo nec ultrices dui. Ac placerat vestibulum lectus mauris.</td>
                </tr>
                <tr>
                <td class="blog"><img src="../../images/bird3.jpg"
                         th:attr="src=@{/images/bird3.jpg}"/>
                </td>
                <td class="blogtext">
                    <h2>Brown Dark Bird</h2>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Condimentum lacinia quis vel eros. Varius morbi enim nunc faucibus. Ultricies lacus sed turpis tincidunt id aliquet risus. Arcu cursus vitae congue mauris rhoncus aenean vel elit. In fermentum et sollicitudin ac orci phasellus egestas tellus rutrum. Eget felis eget nunc lobortis. Sit amet purus gravida quis blandit turpis. Et odio pellentesque diam volutpat commodo sed. Urna neque viverra justo nec ultrices dui. Ac placerat vestibulum lectus mauris.</td>
                </tr>
                <tr>
                <td class="blog"><img style="height:100%"  src="../../images/bird4.jpg"
                         th:attr="src=@{/images/bird4.jpg}"/>
                </td>
                <td class="blogtext">
                    <h2>MultiColor Birds</h2>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Condimentum lacinia quis vel eros. Varius morbi enim nunc faucibus. Ultricies lacus sed turpis tincidunt id aliquet risus. Arcu cursus vitae congue mauris rhoncus aenean vel elit. In fermentum et sollicitudin ac orci phasellus egestas tellus rutrum. Eget felis eget nunc lobortis.</td>
                </tr>
            </tr>
        </table>
    </div>

    <div class="footer">
        <footer>
            Last Updated June 2022 - JAC Entreprises
        </footer>
    </div>
</body>
</html>