<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Continents</title>
  <link rel="stylesheet" th:href="@{/continents.css}" />

</head>
<body>
<header>
  <h1>List of All Continents to be  Explored</h1>
</header>
<main>
  <div class="hero-image"></div>
  <section>
    <p>AC Enterprises is an organization that specializes in offering niche adventures
      dedicated to learning about Earth's various ecosystems and unique terrains.</p>
    <p>Please feel free to explore various types of birds that are found in each of the above continents.</p>
  </section>


</main>
<nav>
  <a href="#">Home</a>
  <a href="#">About</a>
  <a href="#">Continent</a>
  <a href="#">Country</a>
  <a href="#">Region</a>
</nav>

<footer>

  &copy; 2022 team-3 wcci
</footer>



</body>
</html>