<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Continents</title>
  <link rel="stylesheet" href="../static/css/style.css" th:href="@{/continents.css}" />

</head>
<body>
<header>
  <h1>List of All Continents to be  Explored</h1>
</header>
<main>
  <div class="hero-image"></div>
  <section>
    <p>AC Enterprises is an organization that specializes in offering niche adventures
      dedicated to learning about Earth's various ecosystems and unique terrains.</p>
    <p>Please feel free to explore various types of birds that are found in each of the above continents.</p>
  </section>


</main>
<nav>
  <a href="#">Home</a>
  <a href="#">About</a>
  <a href="#">Continent</a>
  <a href="#">Country</a>
  <a href="#">Region</a>
</nav>


<div class="africa">
  <p>
    "Birds of Africa" redirects here. For the eponymous ornithological handbook, see The Birds of Africa.
    This is a list of the bird species recorded in Africa. The area covered by this list is the Africa region
    defined by the American Birding Association's listing rules.[1] In addition to the continent itself,
    the area includes Madagascar, Mauritius, Rodrigues, Seychelles, Cape Verde, the Comoro Islands, Zanzibar,
    and the Canary Islands, São Tomé and Príncipe and Annobón in the Gulf of Guinea. It does not include
    Socotra in the Arabian Sea, Madeira, or the Azores.

    This list is that of the African Bird Club (ABC) supplemented by Bird Checklists of the World (Avibase)
    and The Clements Checklist of Birds of the World.[2][3][4]

    This list's taxonomic treatment (designation and sequence of orders, families, and species) and
    nomenclature (common and scientific names) are those of the Clements list. Taxonomic changes are on-going.
    As more research is gathered from studies of distribution, behavior, and DNA, the names, sequence,
    and number of families and species change every year. Differences in common and scientific names between
    the Clements taxonomy and that of the ABC are frequent but are seldom noted here.
  </p>
  <ul>
    <li> Ostriches  </li>
    <li> Ducks, geese, and waterfowl    </li>
    <li> Guineafowl    </li>
    <li> New World quail     </li>
    <li> Pheasants, grouse, and allies    </li>
    <li> Flamingos   </li>
    <li> Grebes    </li>
    <li> Pigeons and doves    </li>
    <li> Mesites    </li>
    <li> Sandgrouse    </li>
    <li> Bustards    </li>
    <li> Turacos    </li>
    <li> Cuckoos </li>
    <li> Nightjars and allies</li>
    <li> Nightjars and allies</li>
    <li> Rails, gallinules, and coot </li>
    <li> Cranes </li>
    <li> Sandpipers and allies</li>
    <li> Penguins </li>
    <li> Albatrosses</li>

  </ul>
</div>



<footer>

  &copy; 2022 team-3 wcci
</footer>

</body>
</html>