<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Continent</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<div id="container">
        <header>
        <div id="navbar">
            <a href="/templates/index.html" target="_blank">Home</a>
            <a href="/templates/about.html" target="_blank">About</a>
            <a href="/templates/blog.html" target="_blank">Blog</a>
            <a href="/templates/tips.html" target="_blank">Tips/Suggestion</a>
        </div >
         </header>
    <h1>Continent with countries for Birdwatching</h1>

    <div>
        <table border="1">
            <tr>
                <th>Image</th>
                <th>Desciption</th>
            </tr>
            <tr>
                
                <td><img src="../../images/tanzania.jpg"
                         th:attr="src=@{/images/tanzania.jpg}"/></td>
                <td>
                    <h2>TANZANIA</h2>
                    <p>Tanzania is the largest country in East Africa and includes the islands of Zanzibar, 
                    Pemba, and Mafia. About twice the size of California, this African country is bordered 
                    by the Indian Ocean and eight countries: Kenya, Uganda, Rwanda, Burundi, Democratic Republic of Congo,
                     Zambia, Malawi, and Mozambique.</p>
                    <p>Tanzania is home to some of Africa's most famous national parks and natural attractions, including majestic Mount Kilimanjaro.
                     Consequently, the most popular things to do in Tanzania and the reason many people visit the country, 
                     are the safaris and wildlife-related adventures.</p>
                     <p><strong>The best regions for Tanzania Birdwatching:</strong>
                         <ul>
                             <li>Katavi National Park</li>
                             <li>Lake Manyara Safaris</li>
                             <li>Mahale Mountains National Park</li>
                             <li>Ngorongoro Crater Safaris</li>
                             <li>Nyerere National Park</li>
                             <li>Ruaha National Park</li>
                            <li>Serengeti Safaris</li>
                            <li>Tarangire Safaris</li>
                         </ul>
                     </p>
                </td>
            </tr>
            <tr>
                <td><img src="../../images/morocco.jpg"
                         th:attr="src=@{/images/morocco.jpg}"/></td>
                <td>
                    <h2>MOROCCO</h2>
                    <p>Morocco is located in the northwest corner of Africa and is bordered by the North Atlantic Ocean and the Mediterranean Sea. 
                        Algeria and Western Sahara are the land borders to the south and east. Morocco is about the same size as California. 
                        The high Atlas Mountains separate the mild coastline from the harsh Sahara.</p>
                    <p>Morocco is home to the world's largest desert known as the Sahara desert! In Africa, Morocco is the 25th largest country 
                        with a population of almost 34 million. Since its foundation, the country has been under the rule of a series of independent dynasties.</p>
                    <p><strong>Top sites visited for Birdwatching are: </strong></p>
                     <p>Oukaïmeden, Erg Chebbi, the Tagdilt track and Ouarzazate. 
                     Our Morocco birding tour is designed for wildlife enthusiasts visiting Morocco for the first time. 
                     The tour starts at the interesting city of Marrakech.<br>
                     Morocco is a bird watcher's delight. The coastal wetlands of Oualidia and the Souss-Massa National Park are ideal
                      for spotting migrant species in October and March-April, while mountain areas abound with raptors 
                      like golden eagles and Egyptian vultures.
                    </p>

                </td>
            </tr>
        </table>
    </div>
</div>

<div class="africa">
    <p>
        "Birds of Africa" redirects here. For the eponymous ornithological handbook, see The Birds of Africa.
        This is a list of the bird species recorded in Africa. The area covered by this list is the Africa region
        defined by the American Birding Association's listing rules.[1] In addition to the continent itself,
        the area includes Madagascar, Mauritius, Rodrigues, Seychelles, Cape Verde, the Comoro Islands, Zanzibar,
        and the Canary Islands, São Tomé and Príncipe and Annobón in the Gulf of Guinea. It does not include
        Socotra in the Arabian Sea, Madeira, or the Azores.

        This list is that of the African Bird Club (ABC) supplemented by Bird Checklists of the World (Avibase)
        and The Clements Checklist of Birds of the World.[2][3][4]

        This list's taxonomic treatment (designation and sequence of orders, families, and species) and
        nomenclature (common and scientific names) are those of the Clements list. Taxonomic changes are on-going.
        As more research is gathered from studies of distribution, behavior, and DNA, the names, sequence,
        and number of families and species change every year. Differences in common and scientific names between
        the Clements taxonomy and that of the ABC are frequent but are seldom noted here.
    </p>
    <ul>
        <li> Ostriches  </li>
        <li> Ducks, geese, and waterfowl    </li>
        <li> Guineafowl    </li>
        <li> New World quail     </li>
        <li> Pheasants, grouse, and allies    </li>
        <li> Flamingos   </li>
        <li> Grebes    </li>
        <li> Pigeons and doves    </li>
        <li> Mesites    </li>
        <li> Sandgrouse    </li>
        <li> Bustards    </li>
        <li> Turacos    </li>
        <li> Cuckoos </li>
        <li> Nightjars and allies</li>
        <li> Nightjars and allies</li>
        <li> Rails, gallinules, and coot </li>
        <li> Cranes </li>
        <li> Sandpipers and allies</li>
        <li> Penguins </li>
        <li> Albatrosses</li>

    </ul>
</div>



<footer>

    &copy; 2022 team-3 wcci
</footer>

</body>
</html>