<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${country.name}" >Continent</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<div id="container">
        <header>
        <div id="navbar">
            <a href="/templates/index.html" target="_blank">Home</a>
            <a href="/about" target="_blank">About</a>
            <a href="/templates/continent.html" target="_blank">Continent</a>
            <a href="/templates/region.html" target="_blank">Regions</a>
            <a href="/templates/blog.html" target="_blank">Blog</a>
            <a href="/templates/tips.html" target="_blank">Tips/Suggestion</a>
        </div >
         </header>
    <h1>Continent with countries for Birdwatching</h1>

    <div>
        <table border="1">
            <tr>
                <th>Image</th>
                <th>Desciption</th>
            </tr>
            <tr>
                

                <td>
                    <img th:src="${country.imageUrl}" />



                </td>
                <td>
                    <h2 th:text="${country.name}">TANZANIA</h2>

                    <p th:text="${country.description}">Tanzania is home to some of Africa's most famous national parks and natural attractions, including majestic Mount Kilimanjaro.
                     Consequently, the most popular things to do in Tanzania and the reason many people visit the country, 
                     are the safaris and wildlife-related adventures.</p>
                     <p><strong>The best regions for <span th:text="${country.name}">Tanzania</span> Birdwatching:</strong>
                         <ul>
                             <li th:text="${country.sites}">Katavi National Park</li>

                         </ul>
                    </p>


                    <P>This is a list of the bird species recorded in Tanzania. The avifauna of Tanzania included a total of 1156 confirmed species as
                        of September 2021. Of them, 34 are endemic, and four have been introduced by humans. One additional species is hypothetical as
                        defined below; it and two proposed endemic species are not included in the counts.
                        <ul>
                    <li> Ostriches  </li>
                        <img src="../static/images/ostrich.jpg"  th:attr="src=@{/images/ostrich.jpg}"/>
                    <li> Ducks, geese, and waterfowl  </li>
                        <img src="../static/images/duck.jpg"    th:attr="src=@{/images/duck.jpg}"/>
                    <li> Pheasants and grouse  </li>
                        <img src="../static/images/crested_francolin_pheasants.jpg"  th:attr="src=@{/images/crested_francolin_pheasants.jpg}"/>
                    <li> Cuckoos  </li>
                        <img src="../static/images/cuckoos.jpg"     th:attr="src=@{/images/cuckoos.jpg}"/>
                    <li> Honeyguides   </li>
                        <img src="../static/images/honeyguide.jpg"      th:attr="src=@{/images/honeyguide.jpg}"/>
                </ul>
                    </P>


                </td>
            </tr>



            
        </table>
    </div>
</div>

<div class="footer">
    <footer>
        Last Updated June 2022 - JAC Entreprises
    </footer>
</div>
</body>
</html>