<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="../css/style.css" th:href="@{/css/style.css}">
</head>
<body>
    <div id="container">
        <header>
        <div id="navbar">
            <a href="/templates/about.html" target="_blank">About</a>
            <a href="/templates/continent.html" target="_blank">Continents</a>
            <a href="/templates/blog.html" target="_blank">Blog</a>
            <a href="/templates/tips.html" target="_blank">Tips/Suggestion</a>
        </div >
         </header>

         <section>
    <h1 id="welcome">WELCOME TO JAC ENTERPRISES</h1>
        <div >
            <table id="wrapper">
                <tr>
                    <article >
                    <td><img src="/static/images/img.png" alt="A bird"></td>
                    <td class="overview">
                        <div >
                            <h2>Overview</h2> 
                            <p>JAC Enterprises is an organization that specializes in offering niche adventures dedicated to learning about Earth's 
                            various ecosystems and unique terrains. Our motto is, "Vincit Qui Se Vincit" which means, "He/she conquers who conquers
                            him/herself."</p>
                        </div>
                    </td>
                    </article>
                </tr>
            </table>          
            
           </div>
            </section>
    <div class="footer">
        <footer>
            Last Updated June 2022 - JAC Entreprises
        </footer>
    </div>
       
    </div>

</body>
</html>