
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <div id="navbar">
            <a href="#home">home</a>
            <a href="#about">About</a>
            <a href="#continent">continent</a>
            <a href="#bird">birds</a>
        </div>
    <title> Enterprise</title>
</head>
<body>
<h1>Welcome to JAC Enterprises</h1>
<div>
    <img src="img.jpg" style="height= 250px; width= 80%">
</div>
<article> JAC Enterprises is an organization that specializes in offering niche adventures
    dedicated to learning about Earth's various ecosystems and unique terrains. Our motto is,
    "Vincit Qui Se Vincit" which means, "He/she conquers who conquers him/herself."</article>

</body>
</html>