<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Regions</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <div id="navbar">
        <a href="/about" target="_blank">About</a>
        <a href="/templates/index.html" target="_blank">Home</a>
        <a href="/templates/continent.html" target="_blank">Continent</a>
    </div >
</header>
<table border="1" cellpadding="2" cellspacing="2">
    <tr>
        <td>
            <img src="../static/images/africa-regions.jpg"
                 th:attr="src=@{/images/africa-regions.jpg}"/>
        </td>
        <td>
            <p>The UN Statistics Division has subdivided the African continent into five regions,
            Northern Africa, Central or Middle Africa , Southern Africa, East Africa,
            and Western Africa.</p>
        </td>


    </tr>

</table>

<td>
    <p>Birds of North Africa
        This category is about bird species found in North Africa which, for the purpose of this category, is defined as:
        1. Algeria
        2. Egypt (excluding the Sinai Peninsula)
        3. Libya
        4. Morocco (including Spanish North African Territories)
        5. Tunisia
        6. Western Sahara</p>
    <ul>
        <li>Ostriches</li>
        <img src="../static/images/ostrich.jpg"     th:attr="src=@{/images/ostrich.jpg}"/>
        <li>Guineafowl</li>
        <img src="../static/images/helmeted-guineafoul.jpg"     th:attr="src=@{/images/helmeted-guineafoul.jpg}"/>
        <li>Flamingos</li>
        <img src="../static/images/flamingos.jpg"   th:attr="src=@{/images/flamingos.jpg}"/>
        <li>Bustards</li>
        <img src="../static/images/great-bustard.jpg"   th:attr="src=@{/images/great-bustard.jpg}"/>
        <li>Cranes</li>
        <img src="../static/images/demoiselle-cranes.jpg"   th:attr="src=@{/images/demoiselle-cranes.jpg}" />
    </ul>

   <p> Birds of East Africa
    This category is about bird species found in East Africa which, for the purpose of this category, is defined as:
       1. Burundi,
       2. Comoros,
       3. Djibouti,
       4. Ethiopia,
       5. Eritrea,
       6. Kenya,
       7. Rwanda,
       8. Seychelles,
       9. Somalia,
       10. South Sudan,
       11. Sudan,
       12. Tanzania, and
       13. Uganda.</p>
    <ul>
        <li>Ostriches</li>
        <img src="../static/images/ostrich.jpg"     th:attr="src=@{/images/ostrich.jpg}"/>
        <li>Guineafowl</li>
        <img src="../static/images/helmeted-guineafoul.jpg"     th:attr="src=@{/images/helmeted-guineafoul.jpg}" />
        <li>Flamingos</li>
        <img src="../static/images/flamingos.jpg"   th:attr="src=@{/images/flamingos.jpg}" />
        <li>Bustards</li>
        <img src="../static/images/great-bustard.jpg"   th:attr="src=@{/images/great-bustard.jpg}"/>
        <li>Cranes</li>
        <img src="../static/images/demoiselle-cranes.jpg"   th:attr="src=@{/images/demoiselle-cranes.jpg}" />

    </ul>
</td>



<div class="footer">
    <footer>
        Last Updated June 2022 - JAC Entreprises
    </footer>
</div>
</body>
</html>