
html {
    font-size: 150%;
    display: flex;
    padding: 10%;
    margin: 7%;
    justify-content: center;
    text-align: center;
    box-sizing:content-box;
    
}

html{
    text-align: center;
    border-bottom: 1px solid rgb(255, 252, 252);
    text-decoration-color: #ffffff;
    border: 10px rgb(0, 0, 0) solid;
    border-radius: 5%;
    border-style:ridge
    background-color: #266e29;
}
image {
    text-align: center;
}

h2 {
    text-align: center;
    text-decoration-color: #ffffff;
    border: 1px rgb(98, 96, 99) solid;
    background-color: #dac50b;

}

h3,a {
    text-align: center;
    color: #ffffff;
    text-decoration-color: #ffffff;
    border: 1px rgb(98, 96, 99) solid;
    background-color: #000000;
}