<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/tips.css"/>
    <title>Tips</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
    <header>
        <div id="navbar">
            <a href="/templates/index.html" target="_blank">Home</a>
            <a href="/about" target="_blank">About</a>
            <a href="/templates/continent.html" target="_blank">Continent</a>
            <a href="/templates/blog.html" target="_blank">Blog</a>
        </div >
         </header>

    <h1>TIPS / SUGGESTIONS</h1>

<div>
        <table>
            <tr>
                
                <tr>
                <td class="tips"><img src="../../images/birdwatching.jpg"
                         th:attr="src=@{/images/birdwatching.jpg}"/>
                </td>
                </tr>
                
                <tr>
                   <td class="blogtext">
                    <h2>Top Tips and Suggestions for Bird Watchers</h2>
                       <ul>
                           <li>A pair of good binoculars and camera</li>
                           <li>Hat or Cap and water bottle</li>
                           <li>Comfortable footwear</li>
                           <li>Insect repellent</li>
                           <li>Camouflage clothing</li>
                       </ul>


                    </td>
                </tr>
                
            </tr>
        </table>
    </div>

    <div class="footer">
        <footer>
            Last Updated June 2022 - JAC Entreprises
        </footer>
    </div>
</body>
</html>