<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tips</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <div id="navbar">
            <a href="/templates/birdswatchers.html" target="_blank">Home</a>
            <a href="/templates/continent.html" target="_blank">Continent</a>
            <a href="/templates/blog.html" target="_blank">Blog</a>
            <a href="/templates/tips.html" target="_blank">Tips/Suggestion</a>
        </div >
         </header>

    <h1>TIPS / SUGGESTIONS</h1>
</body>
</html>