<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/tips.css"/>
    <title>Tips</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
    <header>
        <div id="navbar">
            <a href="/templates/index.html" target="_blank">Home</a>
            <a href="/templates/continent.html" target="_blank">Continents</a>
            <a href="/templates/country.html" target="_blank">Countries</a>
            <a href="/templates/blog.html" target="_blank">Blog</a>
            <a href="/templates/tips.html" target="_blank">Tips/Suggestion</a>
            <a href="/templates/about.html" target="_blank">About</a>
        </div >
         </header>

    <h1>TIPS / SUGGESTIONS</h1>

<div>
        <table>
            <tr>
                
                <tr>
                <td class="tips"><img src="../../images/birdwatching.jpg"
                         th:attr="src=@{/images/birdwatching.jpg}"/>
                </td>
                </tr>
                
                <tr>
                   <td class="blogtext">
                    <h2>Top Gear Suggestions for Bird Watchers</h2>
                       <dl>
                           <dt>A pair of good binoculars and spotting scope</dt>
                           <dd>-economy -mid-priced -top-affordable -best of the best</dd>
                           <dt>Hat or Cap and water bottle</dt>
                           <dt>Comfortable footwear</dt>
                           <dt>Insect repellent</dt>
                           <dd>-good repellent uses at least 20% of DEET as the most active ingredient</dd>
                           <dt>Camouflage clothing</dt>
                       </dl>


                    </td>
                </tr>
                
            </tr>
        </table>
    </div>

    <div class="footer">
        <footer>
            Last Updated June 2022 - JAC Entreprises
        </footer>
    </div>
</body>
</html>